@model IEnumerable<QuanLy_ShopConCung.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fff;
            height: 100vh; /* Chiều cao của body chiếm toàn bộ chiều cao của màn hình */
        }

        header {
            background-color: #fff;
            color: white;
            text-align: center;
            padding: 1em;
        }

        section {
            max-width: 600px;
            margin: 2em auto;
            background-color: #fff;
            border: 1px solid black;
            padding: 1em;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
        }

        img {
            max-width: 100%;
            height: auto; /* Đảm bảo tỷ lệ khung hình của ảnh không bị méo */
            border-radius: 50%;
            display: block; /* Loại bỏ khoảng trắng dư thừa dưới ảnh */
            margin: 0 auto; /* Canh giữa ảnh */
        }

        button {
            background-color: #ff69b4;
            color: white;
            padding: 0.5em 1em;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            button:hover {
                background-color: #d46a9e;
            }
    </style>
</head>
<body>

    

    <section >
        <img src="/Admin_sources/images/profile/user-1.jpg" style="border: 3px solid #ff69b4; height: 200px; width: 200px" alt="Profile Picture">
        <h2>About Me</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit libero ac euismod feugiat. Nullam ut metus vitae urna cursus volutpat.</p>
        <h2>Contact</h2>
        <p>Email: your.email@example.com</p>
        <p>Twitter: <a href="https://twitter.com/your_twitter" target="_blank"></a></p>
        <button onclick="alert('Hello!')">Say Hello</button>
    </section>

</body>
</html>
